[submodule "pack/vendor/start/ctrlp.vim"]
	path = pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/vendor/start/LeaderF"]
	path = pack/vendor/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/vendor/start/taglist.vim"]
	path = pack/vendor/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "pack/vendor/start/YouCompleteMe"]
	path = pack/vendor/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "proxy/simple-obfs"]
	path = proxy/simple-obfs
	url = https://github.com/shadowsocks/simple-obfs.git
